<p class="quote-text"><%= item.quote %></p>
<div class="quote-details">
  <div class="quote-source">
    <p class="quote-source label"><%= item.sourcePerson %></p>
    <p class="additionalNote label-small"><%= item.additionalNote %></p>
  </div>
  <div class="quote-tag">
    <p class="quote-type label-small"><%= item.typeDisplay %></p>
  </div>
</div>
