<article>
  <h2><%= item.title %></h2>
  <p><%= item.quote %></p>
  <p><%= item.sourcePerson %></p>
  <ul>
    <% item.types.forEach(type => { %>
    <li><%= type %></li>
    <% }) %>
  </ul>
</article>
