<form id="newQuoteForm" method="POST" action="/add">
  <fieldset class="inputForm">
    <label for="quote">Citat</label>
    <textarea
      id="quote"
      name="quote"
      data-displayName="Citat"
      rows="4"
      required
    ></textarea>
    <span class="error-message" id="quoteError"></span>

    <label for="sourcePerson">Upphovsperson</label>
    <input
      type="text"
      id="sourcePerson"
      name="sourcePerson"
      data-displayName="Upphovsperson"
      required
    />
    <span class="error-message" id="sourcePersonError"></span>

    <label for="additionalNote">Tilläggsinformation</label>
    <input
      type="text"
      id="additionalNote"
      name="additionalNote"
      data-displayName="Tilläggsinformation"
    />
    <span class="error-message" id="additionalNoteError"></span>

    <label for="category">Typ</label>
    <select id="category" name="category" data-displayName="Typ" required>
      <% categories.forEach(category => { %>
      <option value="<%= category.id %>"><%= category.typeDisplay %></option>
      <% }) %>
    </select>

    <div class="form-button-container">
      <button type="submit" class="btn-primary form-button">Spara citat</button>
      <button type="button" id="resetButton" class="btn-secondary form-button">
        Avbryt
      </button>
    </div>
  </fieldset>
</form>

<script src="/scripts/validation.js"></script>
